.token
# Python-related
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask-related
instance/
webapp.egg-info/
.env

# Dependency directories
venv/
env/
env_*/

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so